# Ignore build artifacts
*.o
*.out
*.a
*.so
*.exe

# Ignore debug files
*.dSYM/
*.ipdb
*.pdb

# Ignore temporary files
*.tmp
*.temp
*.log
*.swp
*.swo
*~
*.tlog
*.ilk
*.recipe
*.idb

# Ignore directories
bin/
obj/
build/
dist/
